:root {
  /* Set sans-serif & mono fonts */
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  /* Default (light) theme */
  --bg: #fff;
  --accent-bg: #f5f7ff;
  --text: #212121;
  --text-light: #585858;
  --border: #898EA4;
  --accent: #0d47a1;
  --code: #d81b60;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;
} 

body {
    font-family: var(--sans-font);
    background-color: rgb(255, 255, 255);
    color: rgb(88, 88, 88);
    margin-top: 75px;
    margin-bottom: 75px;
    margin-right: 100px;
    margin-left: 100px
  }
  
h1 {
  font-family: var(--sans-font);
  font-size: 36;
  color: #274472; /*Dark Blue*/
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

h2 {
  font-family: var(--sans-font);
  font-size: 28;
  color: #41729F /*Midnight Blue*/
}
  
p {
  font-family: var(--sans-font);
  color: var(--text);
  font-size: 18px;
  margin-bottom: 24px
}

#map { 
  height: 100%; 
  width: 100%;
  align-content: center;
}

.popup_name {
  font-size: 24px;
  font-weight: bold;
  color: #5885AF /*Blue Grey*/
}

.popup_address {
  font-size: 18px;
  font-weight: bold;
  color: gray
}

.popup_description {
  font-size: 16px;
  font-weight: lighter;
  font-family: var(--sans-font);
  color: var(--text)
}

.popup_picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup_picture img {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid rgb(88, 88, 88);
  box-shadow: 2px 2px 5px gray;
  border-radius: 5px;
}

.default-img{
  visibility:hidden;
}

/* Media query for screens smaller than 600px wide */

@media (max-width: 600px) {
  body {
    background-color: white;
    margin: 25px
  }
}